<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60324381580-lpfl4kntrrjbo216sgpdhug91lsmcqvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60324381580-lpfl4kntrrjbo216sgpdhug91lsmcqvc</string>
	<key>API_KEY</key>
	<string>AIzaSyDmVp3oHFM9ogktPoSWR9DPPB7XcVkmaFA</string>
	<key>GCM_SENDER_ID</key>
	<string>60324381580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xyze.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-b2885</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-b2885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60324381580:ios:11910ad20d501295530ca9</string>
</dict>
</plist>